<a href="https://colab.research.google.com/github/VeeraPolu/Data-Analysis-and-Visualization-/blob/main/PROJECT_ELEWAYTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME: P. VEERADATTA

EMAIL: veerapr16@gmail.com

In [ ]:
import pandas as pd
info=pd.read_csv("https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv")
info.head()

               Name  Gender   Department     Salary          Loc     Rating
0      Ches Bonnell    Male        Sales   $88,050      Bellevue  Very Good
1  Garwin Peasegood  Female  Engineering   $68,220      Bellevue       Good
2   Sidoney Yitzhok  Female          NaN  $118,440    Wellington  Not Rated
3  Saunders Blumson     NaN        Legal   $56,370   Los Angeles  Very Good
4    Gardy Grigorey  Female      Support  $107,090   Los Angeles       Poor

In [ ]:
info

,Name,Gender,Department,Salary,Loc,Rating
0,Ches Bonnell,Male,Sales,"$88,050",Bellevue,Very Good
1,Garwin Peasegood,Female,Engineering,"$68,220",Bellevue,Good
2,Sidoney Yitzhok,Female,NaN,"$118,440",Wellington,Not Rated
3,Saunders Blumson,NaN,Legal,"$56,370",Los Angeles,Very Good
4,Gardy Grigorey,Female,Support,"$107,090",Los Angeles,Poor
...,...,...,...,...,...,...
1010,Shaylyn Ransbury,Female,Support,"$100,370",Wellington,Average
1011,Christoph Stretton,Female,Business Development,"$90,240",Wellington,Poor
1012,Jordain Cyster,Female,Engineering,"$75,870",Los Angeles,Average
1013,Malory Biles,Female,Training,"$58,740",Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,"$32,500",Bellevue,Average

In [ ]:
info.tail()

,Name,Gender,Department,Salary,Loc,Rating
1010,Shaylyn Ransbury,Female,Support,"$100,370",Wellington,Average
1011,Christoph Stretton,Female,Business Development,"$90,240",Wellington,Poor
1012,Jordain Cyster,Female,Engineering,"$75,870",Los Angeles,Average
1013,Malory Biles,Female,Training,"$58,740",Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,"$32,500",Bellevue,Average

In [ ]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1015 non-null   object
 1   Gender      972 non-null    object
 2   Department  987 non-null    object
 3   Salary      972 non-null    object
 4   Loc         1015 non-null   object
 5   Rating      1015 non-null   object
dtypes: object(6)
memory usage: 47.7+ KB

In [ ]:
info.info

<bound method DataFrame.info of                     Name  Gender            Department     Salary  \
0           Ches Bonnell    Male                 Sales   $88,050
1       Garwin Peasegood  Female           Engineering   $68,220
2        Sidoney Yitzhok  Female                   NaN  $118,440
3       Saunders Blumson     NaN                 Legal   $56,370
4         Gardy Grigorey  Female               Support  $107,090
...                  ...     ...                   ...        ...
1010    Shaylyn Ransbury  Female               Support  $100,370
1011  Christoph Stretton  Female  Business Development   $90,240
1012      Jordain Cyster  Female           Engineering   $75,870
1013        Malory Biles  Female              Training   $58,740
1014           Adey Ryal  Female                 Legal   $32,500

              Loc     Rating
0        Bellevue  Very Good
1        Bellevue       Good
2      Wellington  Not Rated
3     Los Angeles  Very Good
4     Los Angeles       Poor
...           ...        ...
1010   Wellington    Average
1011   Wellington       Poor
1012  Los Angeles    Average
1013  Los Angeles  Not Rated
1014     Bellevue    Average

[1015 rows x 6 columns]>

In [ ]:
info['Salary'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1010    <class 'str'>
1011    <class 'str'>
1012    <class 'str'>
1013    <class 'str'>
1014    <class 'str'>
Name: Salary, Length: 1015, dtype: object

In [ ]:
info['Salary'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [ ]:
info['Salary'].apply(type).value_counts()

<class 'str'>      972
<class 'float'>     43
Name: Salary, dtype: int64

In [ ]:
info['Salary']=info['Salary'].str.replace(',','')
info['Salary']=info['Salary'].str.replace('$','')
info

<ipython-input-9-da74c5868f15>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  info['Salary']=info['Salary'].str.replace('$','')

,Name,Gender,Department,Salary,Loc,Rating
0,Ches Bonnell,Male,Sales,88050,Bellevue,Very Good
1,Garwin Peasegood,Female,Engineering,68220,Bellevue,Good
2,Sidoney Yitzhok,Female,NaN,118440,Wellington,Not Rated
3,Saunders Blumson,NaN,Legal,56370,Los Angeles,Very Good
4,Gardy Grigorey,Female,Support,107090,Los Angeles,Poor
...,...,...,...,...,...,...
1010,Shaylyn Ransbury,Female,Support,100370,Wellington,Average
1011,Christoph Stretton,Female,Business Development,90240,Wellington,Poor
1012,Jordain Cyster,Female,Engineering,75870,Los Angeles,Average
1013,Malory Biles,Female,Training,58740,Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,32500,Bellevue,Average

In [ ]:
info.isna().sum(axis = 1)

0       0
1       0
2       1
3       1
4       0
       ..
1010    0
1011    0
1012    0
1013    0
1014    0
Length: 1015, dtype: int64

In [ ]:
info.isna().sum()

Name           0
Gender        43
Department    28
Salary        43
Loc            0
Rating         0
dtype: int64

In [ ]:
info.isna().any

<bound method NDFrame._add_numeric_operations.<locals>.any of        Name  Gender  Department  Salary    Loc  Rating
0     False   False       False   False  False   False
1     False   False       False   False  False   False
2     False   False        True   False  False   False
3     False    True       False   False  False   False
4     False   False       False   False  False   False
...     ...     ...         ...     ...    ...     ...
1010  False   False       False   False  False   False
1011  False   False       False   False  False   False
1012  False   False       False   False  False   False
1013  False   False       False   False  False   False
1014  False   False       False   False  False   False

[1015 rows x 6 columns]>

In [ ]:
info.isna().any()

Name          False
Gender         True
Department     True
Salary         True
Loc           False
Rating        False
dtype: bool

In [ ]:
info[(info['Salary'].isna())&(info['Department'].isna())]

                 Name  Gender Department Salary       Loc   Rating
343     Dewey Berthod  Female        NaN    NaN  Bellevue  Average
470  Aloise MacCathay    Male        NaN    NaN  Bellevue  Average

In [ ]:
info[(info['Salary'].isna())&(info['Department'].isna())&(info['Loc'].isna())]

Empty DataFrame
Columns: [Name, Gender, Department, Salary, Loc, Rating]
Index: []

In [ ]:
info.dropna(subset=['Salary','Department'],inplace=True)

In [ ]:
info.info

<bound method DataFrame.info of                     Name  Gender            Department   Salary          Loc  \
0           Ches Bonnell    Male                 Sales   88050      Bellevue
1       Garwin Peasegood  Female           Engineering   68220      Bellevue
3       Saunders Blumson     NaN                 Legal   56370   Los Angeles
4         Gardy Grigorey  Female               Support  107090   Los Angeles
5        Marlie Charsley    Male               Support  108450    Wellington
...                  ...     ...                   ...      ...          ...
1010    Shaylyn Ransbury  Female               Support  100370    Wellington
1011  Christoph Stretton  Female  Business Development   90240    Wellington
1012      Jordain Cyster  Female           Engineering   75870   Los Angeles
1013        Malory Biles  Female              Training   58740   Los Angeles
1014           Adey Ryal  Female                 Legal   32500      Bellevue

         Rating
0     Very Good
1          Good
3     Very Good
4          Poor
5          Poor
...         ...
1010    Average
1011       Poor
1012    Average
1013  Not Rated
1014    Average

[946 rows x 6 columns]>

In [ ]:
info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 946 entries, 0 to 1014
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        946 non-null    object
 1   Gender      906 non-null    object
 2   Department  946 non-null    object
 3   Salary      946 non-null    object
 4   Loc         946 non-null    object
 5   Rating      946 non-null    object
dtypes: object(6)
memory usage: 51.7+ KB

In [ ]:
info['Gender']=info['Gender'].fillna('Not revealed')

In [ ]:
info

,Name,Gender,Department,Salary,Loc,Rating
0,Ches Bonnell,Male,Sales,88050,Bellevue,Very Good
1,Garwin Peasegood,Female,Engineering,68220,Bellevue,Good
3,Saunders Blumson,Not revealed,Legal,56370,Los Angeles,Very Good
4,Gardy Grigorey,Female,Support,107090,Los Angeles,Poor
5,Marlie Charsley,Male,Support,108450,Wellington,Poor
...,...,...,...,...,...,...
1010,Shaylyn Ransbury,Female,Support,100370,Wellington,Average
1011,Christoph Stretton,Female,Business Development,90240,Wellington,Poor
1012,Jordain Cyster,Female,Engineering,75870,Los Angeles,Average
1013,Malory Biles,Female,Training,58740,Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,32500,Bellevue,Average

In [ ]:
info.describe

<bound method NDFrame.describe of                     Name        Gender            Department   Salary  \
0           Ches Bonnell          Male                 Sales   88050
1       Garwin Peasegood        Female           Engineering   68220
3       Saunders Blumson  Not revealed                 Legal   56370
4         Gardy Grigorey        Female               Support  107090
5        Marlie Charsley          Male               Support  108450
...                  ...           ...                   ...      ...
1010    Shaylyn Ransbury        Female               Support  100370
1011  Christoph Stretton        Female  Business Development   90240
1012      Jordain Cyster        Female           Engineering   75870
1013        Malory Biles        Female              Training   58740
1014           Adey Ryal        Female                 Legal   32500

              Loc     Rating
0        Bellevue  Very Good
1        Bellevue       Good
3     Los Angeles  Very Good
4     Los Angeles       Poor
5      Wellington       Poor
...           ...        ...
1010   Wellington    Average
1011   Wellington       Poor
1012  Los Angeles    Average
1013  Los Angeles  Not Rated
1014     Bellevue    Average

[946 rows x 6 columns]>

In [ ]:
info.describe(include= 'all')

                 Name Gender          Department  Salary          Loc   Rating
count             946    946                 946     946          946      946
unique            874      3                  12     833            3        6
top     Gilles Jaquet   Male  Product Management  72500   Los Angeles  Average
freq                2    465                  89       4          361      420

In [ ]:
info.duplicated('Name')

0       False
1       False
3       False
4       False
5       False
        ...
1010    False
1011    False
1012    False
1013    False
1014    False
Length: 946, dtype: bool

In [ ]:
info.duplicated('Name').value_counts()

False    874
True      72
dtype: int64

In [ ]:
Names=info.Name.value_counts()
Names

Gilles Jaquet       2
Crawford Scad       2
Dulsea Folkes       2
Andria Kimpton      2
Kissiah Maydway     2
                   ..
Eilis Pavlasek      1
Kellsie Waby        1
Inger Andriveaux    1
Corina Triner       1
Adey Ryal           1
Name: Name, Length: 874, dtype: int64

In [ ]:
Names[Names>1]

Gilles Jaquet        2
Crawford Scad        2
Dulsea Folkes        2
Andria Kimpton       2
Kissiah Maydway      2
                    ..
Danica Nayshe        2
Adella Hartshorne    2
Saunders Blumson     2
Mariette Daymont     2
William Reeveley     2
Name: Name, Length: 72, dtype: int64

In [ ]:
Names[Names==1]

Penni Patemore      1
Meara Darrington    1
Maximo Guirard      1
Kincaid Hellicar    1
Genevra Friday      1
                   ..
Eilis Pavlasek      1
Kellsie Waby        1
Inger Andriveaux    1
Corina Triner       1
Adey Ryal           1
Name: Name, Length: 802, dtype: int64

In [ ]:
info[info.Name=='Jordain Cyster']

                Name  Gender   Department  Salary          Loc   Rating
1012  Jordain Cyster  Female  Engineering  75870   Los Angeles  Average

In [ ]:
info[info.Name=='Larry Pioch']

            Name Gender                Department  Salary         Loc Rating
69   Larry Pioch   Male  Research and Development  49670   Wellington   Poor
130  Larry Pioch   Male  Research and Development  49670   Wellington   Good

In [ ]:
info.drop_duplicates(subset='Name',inplace=True)

In [ ]:
info

,Name,Gender,Department,Salary,Loc,Rating
0,Ches Bonnell,Male,Sales,88050,Bellevue,Very Good
1,Garwin Peasegood,Female,Engineering,68220,Bellevue,Good
3,Saunders Blumson,Not revealed,Legal,56370,Los Angeles,Very Good
4,Gardy Grigorey,Female,Support,107090,Los Angeles,Poor
5,Marlie Charsley,Male,Support,108450,Wellington,Poor
...,...,...,...,...,...,...
1010,Shaylyn Ransbury,Female,Support,100370,Wellington,Average
1011,Christoph Stretton,Female,Business Development,90240,Wellington,Poor
1012,Jordain Cyster,Female,Engineering,75870,Los Angeles,Average
1013,Malory Biles,Female,Training,58740,Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,32500,Bellevue,Average

In [ ]:
info['Gender'].value_counts().sum()

874

In [ ]:
info['Gender'].value_counts()

Male            430
Female          406
Not revealed     38
Name: Gender, dtype: int64

In [ ]:
Gender_Percentage=info['Gender'].value_counts()/info['Gender'].value_counts().sum()
Gender_Percentage.round(3)

Male            0.492
Female          0.465
Not revealed    0.043
Name: Gender, dtype: float64

In [ ]:
info['Gender'].describe()

count      874
unique       3
top       Male
freq       430
Name: Gender, dtype: object

In [ ]:
pd.crosstab(info['Gender'],info['Department'])

Department,Accounting,Business Development,Engineering,Human Resources,Legal,Marketing,Product Management,Research and Development,Sales,Services,Support,Training
Gender,,,,,,,,,,,,
Female,27,38,35,37,32,31,39,32,32,39,30,34
Male,36,33,35,33,44,31,40,28,39,35,41,35
Not revealed,2,3,5,3,4,1,1,5,4,3,4,3

In [ ]:
info['Salary'] = info['Salary'].astype(float)

In [ ]:
info['Salary'].mean()

73831.51029748283

In [ ]:
info.groupby('Department')['Salary'].mean()

Department
Accounting                  75896.307692
Business Development        76309.189189
Engineering                 71958.533333
Human Resources             71472.739726
Legal                       72663.125000
Marketing                   76646.349206
Product Management          72082.375000
Research and Development    69768.153846
Sales                       71750.933333
Services                    76710.779221
Support                     74822.533333
Training                    76266.250000
Name: Salary, dtype: float64

In [ ]:
info.groupby('Department')['Salary'].mean().round(1)

Department
Accounting                  75896.3
Business Development        76309.2
Engineering                 71958.5
Human Resources             71472.7
Legal                       72663.1
Marketing                   76646.3
Product Management          72082.4
Research and Development    69768.2
Sales                       71750.9
Services                    76710.8
Support                     74822.5
Training                    76266.2
Name: Salary, dtype: float64

In [ ]:
acc_avg_salary=info[info['Department']=='Accounting']['Salary'].mean()
acc_avg_salary

75896.30769230769

In [ ]:
acc_avg_salary=info[info['Department']=='Accounting']['Salary'].mean().round(0)
acc_avg_salary

75896.0

In [ ]:
acc_avg_salary=info[info['Department']=='Marketing']['Salary'].mean().round(0)
acc_avg_salary

76646.0

In [ ]:
info.groupby('Department')['Salary'].mean().round(0).sort_values()

Department
Research and Development    69768.0
Human Resources             71473.0
Sales                       71751.0
Engineering                 71959.0
Product Management          72082.0
Legal                       72663.0
Support                     74823.0
Accounting                  75896.0
Training                    76266.0
Business Development        76309.0
Marketing                   76646.0
Services                    76711.0
Name: Salary, dtype: float64

In [ ]:
info.groupby('Department')['Salary'].mean().round(0).max()

76711.0

In [ ]:
info.groupby('Department')['Salary'].mean().round(0).min()

69768.0

In [ ]:
dept_avg_salary=info.groupby('Department')['Salary'].mean().round(0)
dept_avg_salary.idxmax()

'Services'

In [ ]:
dept_avg_salary=info.groupby('Department')['Salary'].mean().round(0)
dept_avg_salary.idxmin()

'Research and Development'

In [ ]:
info.groupby('Loc')['Salary'].mean().round(0)

Loc
Bellevue       76100.0
Los Angeles    73580.0
Wellington     72372.0
Name: Salary, dtype: float64

In [ ]:
info['Rating'].value_counts()

Average      400
Good         163
Poor         116
Very Good     81
Not Rated     61
Very Poor     53
Name: Rating, dtype: int64

In [ ]:
rating_per=info['Rating'].value_counts()/info['Rating'].value_counts().sum()
rating_per

Average      0.457666
Good         0.186499
Poor         0.132723
Very Good    0.092677
Not Rated    0.069794
Very Poor    0.060641
Name: Rating, dtype: float64

In [ ]:
rating_per=info['Rating'].value_counts()/info['Rating'].value_counts().sum()
rating_per*100

Average      45.766590
Good         18.649886
Poor         13.272311
Very Good     9.267735
Not Rated     6.979405
Very Poor     6.064073
Name: Rating, dtype: float64

In [ ]:
gender_salary=info.groupby('Gender')['Salary'].mean()
gender_salary

Gender
Female          72609.753695
Male            74506.651163
Not revealed    79245.263158
Name: Salary, dtype: float64

In [ ]:
gender_salary=info.groupby('Gender')['Salary'].mean().round(0)
gender_salary

Gender
Female          72610.0
Male            74507.0
Not revealed    79245.0
Name: Salary, dtype: float64

In [ ]:
pay_m=info[info['Gender']=='Male']['Salary'].mean().round(0)
pay_m

74507.0

In [ ]:
pay_f=info[info['Gender']=='Female']['Salary'].mean().round(0)
pay_f

72610.0

In [ ]:
pay_gap=(pay_m/pay_f - 1)*100
pay_gap

2.612587797823984

In [ ]:
pay_gap=((pay_m/pay_f - 1)*100).round(0)
pay_gap

3.0

In [ ]:
info.groupby(['Department','Gender'])['Salary'].mean().round(0)

Department                Gender
Accounting                Female           72814.0
                          Male             76726.0
                          Not revealed    102560.0
Business Development      Female           74667.0
                          Male             80596.0
                          Not revealed     49957.0
Engineering               Female           74868.0
                          Male             68097.0
                          Not revealed     78626.0
Human Resources           Female           67062.0
                          Male             74345.0
                          Not revealed     94283.0
Legal                     Female           69904.0
                          Male             73832.0
                          Not revealed     81875.0
Marketing                 Female           79108.0
                          Male             73242.0
                          Not revealed    105870.0
Product Management        Female           71558.0
                          Male             73484.0
                          Not revealed     36480.0
Research and Development  Female           67888.0
                          Male             70338.0
                          Not revealed     78614.0
Sales                     Female           70144.0
                          Male             71287.0
                          Not revealed     89125.0
Services                  Female           74161.0
                          Male             80379.0
                          Not revealed     67067.0
Support                   Female           71586.0
                          Male             77054.0
                          Not revealed     76225.0
Training                  Female           77579.0
                          Male             74247.0
                          Not revealed     84943.0
Name: Salary, dtype: float64

In [ ]:
info.groupby(['Loc','Gender'])['Salary'].mean().round(0)

Loc          Gender
Bellevue     Female          75103.0
             Male            76315.0
             Not revealed    86860.0
Los Angeles  Female          72568.0
             Male            74056.0
             Not revealed    78643.0
Wellington   Female          70732.0
             Male            73613.0
             Not revealed    75965.0
Name: Salary, dtype: float64